.body{
    background-color: black;
}
.card{    
    border: solid 1px dimgray;
    border-radius: 30px;
    padding: 10px;
    font-size: xx-large;
    font-family: monospace;
    text-align: center;
    color: white;
    box-shadow: 1px 1px orchid;
}
.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 420px;
  }
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  }

  .newTitle{
    width: 100%;
    height: 10%;
    border-radius: 10px;
    background-color: #ffffff28;
    color: white;
    border: solid 2px;
  }

  .newDesc{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    background-color: #ffffff28;
    color: white;
    border: solid 2px;
  }
  .button{
      background-color: white;
      border-radius: 30px;
      width: 30%;
      border:none;
  }
  ::placeholder {
    color: rgb(241, 241, 233); /* Change the color to gray */
}